<nav class="navbar navbar-inverse navbar-fixed-top affix" id="club-head" data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <h4 id='club-header'>
    <% if !@club.nil? %>
      <strong>Club:</strong>
      <%= @club.name %>
    <% end %>
    </h4>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if !@club.nil? %>
          <li class="btn-link"><%= link_to 'About', about_club_path(@club) %></li>
        <% end %>
        <% if logged_in? %>
          <li class="btn-link"><%= link_to 'Profile', user_path(current_user) %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</nav>
