<div>
  <div class="col-md-2 sidebar" data-spy="affix" data-offset-top="205">
    <%= image_tag("default-user.png", :class => "prof-img") %>
    <div class="padded">
      <p class="white">
        <strong class='test'>First Name: </strong>
        <%= @current_user.first_name %>
      </p>

      <p class="white">
        <strong>Last Name: </strong>
        <%= @current_user.last_name %>
      </p>
      
      <strong class="white">CLUBS: </strong><br>
      <% @clubs.each do |club| %>
        <strong><%= link_to club.name, club_path(club), { :class => "profile-nav" } %></strong><br>
      <% end %>
    </div>
  </div>
</div>
