<p id="notice"><%= notice %></p>
<%= render 'profile' %>
</br>


  <div class="col-md-2"></div>
  <div class="col-md-10">
  <div class="col-md-12">
    <%= render "clubs/club_table" %>
  </div>
  </div>


