@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

/*adds padding to the top to everything in body (unlessed fixed)*/
body {
  margin-top: 50px;
  background: #ccccff;
}

.col-centered{
  float: none;
  margin: auto;
}

.jumbotron {
  margin: auto;
  margin-top: 100px; 
  padding-top: 60px;
  margin-bottom: 80px;
  //background: #ADD8E6;
}

.col-centered{
  float: none;
  margin: auto;
}

/* adds scroll bar if needed */
section {
  overflow: auto;
}

/* `.` styles a class */
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


textarea {
  resize: vertical;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 7px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* header */
#head {
  border-color: #222;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  background: #fff;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
  padding-left:5px;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  padding-right:15px;
}

/* about clubs */
#about_div {
  background: #222;
  padding-top: 10px;
  padding-bottom: 32px;
  padding-left: 0px;
  padding-right: 0px;
}

#about {
  font-size: 2em;
  color: #fff;
  margin-bottom: 0px;
  font-weight: bold;
}

#club {
  padding-left: 0px;
  padding-right: 0px;  
}

#club a {
  color: #777;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}

#club a:hover {
  background-color: white;
  text-decoration: none;
}

#small_div {
  padding-left: 0px;
  padding-right: 0px;
}

/* CLUBS */
#club-head{
  border-radius: 0px;
  border-color: #222;
  border-bottom-color: #111;
  margin-bottom:0px;
}

h4#club-header{
  float: left;
  margin-left: 20px;
  text-transform: uppercase;
  color: #fff;
}

#back-drop{
  float: left;
  padding-top: 5px;
  background: #fff;
}

.all-topics{
  max-width:100%;
  padding-left: 0px;
}

.topic-div{
  border-radius: 5px;
  opacity: 0.8;
  background: #fff;
  border-color: #C0C0C0;
  border-style: outset;
  max-width:100%;
}

div#form-div{
  padding-left: 0px;
}

div#back-drop {
  border-left-style: inset;
  border-right-style: outset;
}
