// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.sidebar{
  background: #444;
  padding-bottom: 100px;
  max-length: 100%;
  overflow-y: hidden;
  padding-left: 0px;
  padding-right: 0; 
  border-right: solid;
  height: 100%;
  top: 100px;
}

.white{
  max-length: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  color: #fff;
  max-length: 100%;
}

.prof-img{
  max-width:100%;
}

.profile-nav{
  padding-left: 10px;
  text-transform: uppercase;
  color: #bbb;
}

.profile-nav:hover {
  color: #022243;
  text-decoration: none;
}

.padded{
  padding-left: 10px;
}
