<footer class="footer navbar-fixed-bottom">
  <small>
    Unofficial Allegheny Clubs Website by Cathal Chaffee | image found at sites.allegheny.edu/gatorblogs/2011/10/
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
